body{
    background-image: url('img/background.png');
    display: flex;
    color: white;
    overflow: hidden;
    background-size: 100% 100%;
}
.logo_nasa{
    width: 9rem;
    height: 8rem;
    margin-top: 1.4rem;
    margin-left: 1.6rem;
}
.procurar, #conteudo_principal{
    width: 50%;
    height: 100vh;
}
.campo_envio{
    display: flex;
    margin: 22rem 0px 0px 24rem;
    
}
input[type="date"]{
    margin-top: 21px;
    width: 18rem;
    height: 2.8rem;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    border-style: none;
    background-color: #EFEFEF;
}
#lupa_procurar{
    width: 30px;
    height: 27px;
    border-style: none;
}

#botao{
    border-radius: 0px 10px 10px 0px;
    margin-top: 21px;
    height: 2.8rem;
    color: white;
    border: none;
}
.conteudo_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

@media (max-width: 680px){
    body{
        background-image: url('img/background-mobile.png'); 
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        overflow: visible;
    }

    nav{
        display: flex;
        flex-direction: row;
        height: 10%;
        width: 100vw;
    }

    .logo_nasa{
        width: 4.3rem;
        height: 4rem;
    }

    .titulos{
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        padding-top: 0.4rem;
        font-weight: bolder;
    }

    .campo_envio{
        width: 1rem;
        height: 1rem;
    }

    .procurar{
        width: 100%;
        height: 40vh;
        margin-top: 7rem;
    }

    .descricao{
        text-align: center;
        font-size: 1.1rem;
        padding: 0.2rem 1rem 0rem 1rem;
    }

    .campo_envio{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
        margin-top: 4rem;
    }

    input[type="date"]{
        font-size: 1rem;
        font-weight: normal;
    }

    #data, #botao{
        height: 2rem;
    }

    #data{
        width: 12rem;

    }
    #lupa_procurar{
        width: 18px;
        height: 18px;
        border-style: none;
    }

    #img{
        display: none;
    }

    .conteudo_principal{
        display: none;
    }






    footer{
        bottom: 5px;
        position: fixed;
        width: 90%;
        text-align: center;
        font-size: 1rem;
        min-width: 100%;
    }
}